* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --font-family: 'Arial', sans-serif;
  --spacing-unit: 1rem;
  --border-radius: 4px;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff; /* shorthand for white */
}

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/4;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
}

aside h2 {
    position: top;
    top: 47px;
    left: 150px;
}

p {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    padding: 30px;
    color: black;
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}