header {
    text-align: center;
    margin-bottom: 30xp;
    padding: 20xp;
    border-radius: 8px;
    color: white;
    background-color: black;
   
}
/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: gray;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* Header styles */
h1 {
    text-align: center;
    color: black;
    padding: 20px;
    margin: 0;

}

h2 {
    color: #1a4f72;
    border-bottom: 2px solid #1a4f72;
    padding-bottom: 5px;
    margin-top: 30px;
}

h3 {
    color: #1a4f72;
    margin-bottom: 10px;
}

/* Main content container */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* About and Visiting sections */
section {
    margin-bottom: 30px;
    background-color: grey;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

/* List styling */
ul {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

/* Horizontal rule */
hr {
    border: 0;
    height: 1px;
    background: white;
    margin: 30px 0;
}

img {
    width: auto;
    height: auto;
    border: 0px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 30px;
}

footer p {
    margin: 0;
}